:root {
    --heading-font: Ephesis;
    --body-font: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --primary-purple: #7c3a7c;
    --secondary-purple: #310e43;
    --gold: #daa520;
}

* {
    margin: 0;
    box-sizing: border-box;
    size: 16px;
}

body {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(/assets/smoke.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;

    background-color: var(--primary-purple);
}


/* FONTS */
h1, h2 {
    font-family: var(--heading-font);
    font-size: 2.5rem;
    max-width: 500px;
}

p {
    font-family: var(--body-font);
    font-size: 1rem;
}

/* SELECT AND BUTTON */
.select-button {
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: #FFFFFF;
}

#dropdown {
    padding: 15px 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    
    font-family: var(--body-font);
    font-size: 1rem;
    color: var(--secondary-purple);
    text-align: center;

    background-color: #d0a4b1;
    box-shadow: 0px 0px 150px 25px var(--gold);
}

.select-button p {
    text-align: center;
    z-index: 2;
}

button {
    padding: 15px 20px;
    width: 100%;
    border: none;
    border-radius: 5px;

    font-size: 1rem;
    font-family: var(--body-font);

    background-color: var(--secondary-purple);
    color: white;
    opacity: 70%;
    z-index: 2;
}


/* PRESENTATION */
section {
    display: none;
    padding: 2rem;
    width: 90vw;
    height: auto;
    
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    opacity: 62%;
    background-color: white;
    border: 10px ridge var(--gold);
    border-radius: 5px;
    
    animation: zoomIn 5s ease-in-out 0.5s forwards;
}

#emoji-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

#positive-signs,
#negative-signs {
    font-size: 2.5rem;
}

#negative-signs {
    margin-bottom: 2rem;
}


@keyframes zoomIn {
    from {
        transform: scale(0.7);
    } to {
        transform: scale(1);
    }
}


@media screen and (min-width: 700px) {
    h1, h2 {
        font-size: 3rem;
    }

    .select-button {
        max-width: 40%;
    }
    
    section {
        width: 60vw;
        padding: 60px;
    }

    button {
        padding: 20px 25px;
        border: none;
        border-radius: 5px;
    }

    button:hover {
        opacity: 100%;
    }

    #positive-signs,
    #negative-signs {
        font-size: 3rem;
    }

    #emoji-container p:first-child {
        font-size: 1.5rem;
    }

}

@media screen and (min-width: 1125px) {
    .select-button {
        max-width: 25%;
    }    
    
    section {
        padding: 100px;
    }
        #emoji-container {
        flex-direction: row;
        justify-content: space-around;
    }
}


@media screen and (min-width: 1440px) {
    .select-button {
        max-width: 20%;
    }

    section {
        width: 50vw;
    }
}