:root {
    --heading-font: Ephesis;
    --body-font: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --primary-purple: #7c3a7c;
    --secondary-purple: #651c65;
    --gold: #daa520;
}

* {
    margin: 0;
    box-sizing: border-box;
    size: 16px;
}

body {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(/assets/smoke.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;

    background-color: var(--primary-purple);
}


h1, h2 {
    font-family: var(--heading-font);
    font-size: 2.5rem;
    max-width: 500px;
}

p {
    font-family: var(--body-font);
    font-size: 1rem;
}

button {
    position: absolute;
    padding: 20px 25px;

    border: none;
    border-radius: 125px;

    font-size: 1rem;
    font-family: var(--body-font);

    background-color: var(--secondary-purple);
    color: white;
    opacity: 70%;
    box-shadow: 0px 0px 100px 15px var(--gold);
}


section {
    display: none;
    padding: 2rem;
    width: 90vw;
    height: auto;
    
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    opacity: 62%;
    background-color: white;
    border: 10px ridge var(--gold);
    border-radius: 5px;
    
    animation: zoomIn 5s ease-in-out 0.5s forwards;
}

#emoji-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

#positive-signs,
#negative-signs {
    font-size: 2.5rem;
}

#negative-signs {
    margin-bottom: 2rem;
}


@keyframes zoomIn {
    from {
        transform: scale(0.7);
    } to {
        transform: scale(1);
    }
}


@media screen and (min-width: 700px) {
    h1, h2 {
        font-size: 3rem;
    }
    
    section {
        width: 60vw;
        padding: 60px;
    }

    button {
        position: absolute;
        padding: 7px;

        border: none;
        border-radius: 50%;

        font-size: 0rem;
        font-family: var(--body-font);

        background-color: var(--gold);
        color: white;
        opacity: 70%;

        box-shadow: 0px 0px 10px 5px var(--gold);
        transition: all 0.5s ease-in;
    }

    button:hover {
        padding: 35px 50px;
        border-radius: 125px;
        font-size: 1.5rem;
        box-shadow: 0px 0px 150px 15px var(--gold);
        background-color: var(--secondary-purple);
    }

    #positive-signs,
    #negative-signs {
        font-size: 3rem;
    }

    #emoji-container p:first-child {
        font-size: 1.5rem;
    }

}

@media screen and (min-width: 1125px) {
    section {
        padding: 100px;
    }
        #emoji-container {
        flex-direction: row;
        justify-content: space-around;
    }
}


@media screen and (min-width: 1440px) {
    section {
        width: 50vw;
    }
}