:root {
    --heading-font: Seaweed Script;
    --body-font: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --primary-purple: #7c3a7c;
    --secondary-purple: #651c65;
}

* {
    margin: 0;
    box-sizing: border-box;
    size: 16px;
}

body {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(/assets/smoke.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;

    background-color: var(--primary-purple);
}

button {
    position: absolute;
    padding: 40px 50px;

    border: none;
    border-radius: 20px;

    font-size: 1.5rem;
    font-family: var(--body-font);

    background-color: var(--secondary-purple);
    color: white;
    opacity: 70%;
}

section {
    animation: zoomIn 5s ease-in-out 0.5s forwards;
    display: none;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
    text-align: center;

    opacity: 62%;
    background-color: white;
    border: 10px ridge goldenrod;
    border-radius: 5px;

    padding: 100px;
    width: 70vw;
    height: auto;
}

h1, h2 {
    font-family: var(--heading-font);
    font-size: 3rem;
    max-width: 500px;
}

p {
    font-family: var(--body-font);
    font-size: 0.5rem;
}

#emoji-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    justify-content: center;
    transform: scale(2.5);
    margin-top: 4rem;
}

@keyframes zoomIn {
    from {
        transform: scale(0.7);
    } to {
        transform: scale(1);
    }
}
